body {
    background-image: url("./assets/background.jpg");
    background-position-x: center;
  }

 .ryujin{
    background-color: red;
    
 } 

 .border-top{
    margin-left: 280px !important;
 }

